.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0.2em;
    top: 7.3em;
    background-color: #F5F5F5;
    border-radius: 2em;
    border: 3px solid #184B36;
    height: 20em;
    width: 15em;
    z-index: 50;
}

.dropdownButton {
    background: none;
    border: none;
    padding: 0.5em 1em;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;

}