.team-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 70em;
    padding: 2.5em;
    gap: 5em;
    border-radius: 2em;
    border: 1px solid rgb(111, 111, 111);
}

.content h2 {
    font-size: 2.5em;
}

.section {
    display: flex;
    box-sizing: border-box;
    gap: 2em;
}

.content h3{
font-size: 1.75em;
line-height: 2em;
font-weight: 600;
margin-top: 1em;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 0 2.5px black;
    width: 18em; /* Set a fixed width */
    height: 18em; /* Set a fixed height */
    box-sizing: border-box;
}


.profile-card h4 {
    font-size: 1.25em;
    font-weight: 600;
}

.profile-image {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
}


/* Full screen profile screen container */
.profile-screen-details {
    padding: 0em;
    border-radius: 1em;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .close-button {
    background-color: none;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 0.25em;
    margin-bottom: 1em;
  }
  
  .profile-details-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
  }
  
  .profile-picture {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-image-large {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20%;
    object-fit: cover;
    margin-right: 1em;
  }
  
  .profile-info {
    flex: 2;
  }
  
  .profile-info h2 {
    margin: 0;
    font-size: 2em;
  }
  
  .profile-info p {
    margin: 0.5em 0;
  }
  
  .profile-about {
    margin-top: 2em;
  }
  
  .profile-about h3 {
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .profile-about p {
    margin: 0.5em 0;
    line-height: 1.5em;
  }
  